body {
    margin: 0px;
}

.sidebar {
    width: 300px;
    top: 0;
    left: 0;
    position: fixed;
    text-align: center;
    background-color: #0e1111;
    height: 100%;
    color: white;
    padding: 25px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main {
    margin-left: 300px;
    padding: 32px;
    box-sizing: border-box;
    background-color: #eeeeee;
    min-height: 100vh;
    text-align: justify;
}

.hello-text {
    text-align: center;
}

a {
    color: teal;
}

table,
th,
td {
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 6px;
    padding-left: 6px;
}

table {
    width: 100%;
}

.profile-picture {
    width: 250px;
    padding: 15px;
    border-radius: 50%;
    box-sizing: border-box;
}

.link-text {
    color: white;
    font-size: 24px;
}

.link-text:hover {
    color: teal;
}

.contact-links {
    display: flex;
    justify-content: space-evenly;
    padding-top: 16px;
    padding-left: 25px;
    padding-right: 25px;
}

.contact-icon:hover {
    transform: scale(1.5);
}

.mozilla-headline-bold {
  font-family: "Mozilla Headline", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.ibm-plex-sans-body {
  font-family: "IBM Plex Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

h1 {
    font-size: 20pt;
    margin-bottom: 0px;
}

hr {
    margin-bottom: 16px;
}